<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Editar usuario</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Usuarios</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="col-md-6 offset-md-3">
            <h3>Editar usuario</h3>

            <form>
                <div class="form-group">
                    <label for="">Nombres</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label for="">Apellidos</label>
                    <input class="form-control" type="text" name="last_name">
                </div>
                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input class="form-control" type="datetime-local" name="last_name">
                </div>
                <div class="form-group">
                    <label for="">Correo</label>
                    <input class="form-control" type="email" name="email">
                </div>
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input class="form-control" type="number" name="phone">
                </div>

                <div class="form-group">
                    <button class="btn btn-success">GUARDAR</button>
                    <button class="btn btn-primary">CANCELAR</button>
                </div>
            </form>
            
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>