<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard v3</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v3</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="col-md-10 offset-md-1">
            <h3>Usuarios registrados</h3>

            <table class="table table-sm">
                <thead>
                    <th>ID</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>FECHA DE NACIMIENTO</th>
                    <th>CORREO</th>
                    <th>TELEFONO</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Yerson Alejandro</td>
                        <td>Burbano Ramos</td>
                        <td>5 de Junio 1998</td>
                        <td>yeal199838@gmail.con</td>
                        <td>3204020143</td>
                        <td><a routerLink="/edit-user/1"><i class="fas fa-trash"></i></a></td>
                        <td><i class="fas fa-edit"></i></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>